{{define "head"}}
    <title>How old are you</title>
    <meta charset="utf-8" />
    <!-- IE -->
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico" />
    <!-- other browsers -->
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />
	
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
	
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/hoay.css">
{{end}}

{{define "foot"}}
<script src="/static/js/hoay.js"></script>
{{end}}
